
/*ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f3;
    overflow: hidden;
}

li
{
	float: left;
}

li a{
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
	text-align:center
}

a:hover {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #555;
    color: white;
}

body {
	background-color: #A20;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}
*/

/*
table {
	border-collapse: seperate;
	border-spacing: 0;
	color: #4a4a4d;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 44px;
	width: 100%;

}

th,td {
	padding:10px 15px;
	vertical-align: middle;
	color: #000000;
}

thead {
	background: #395870;
	color: #ff0000;
}

td{
	border-bottom: 1px solid #cecfd5;
	border-right: 1px solid #cecfd5;
}

.astyle {
	color: #ffffff;
	font: 22px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.mylogo{
font-family: 'Fjalla One', sans-serif;
font-size:35px;
color:#fff;
position:absolute;
top:20px;
left:7%;
}

.blog{
font-family: 'Fjalla One', sans-serif;
font-size:35px;
color:#fff;
position:relative;
top:50px;
text-align:center;
}

.bogocircle{
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background: #395870;
	position:absolute;
	top: 300px;
	left: 10%;

}

.topmenu{margin-left:10%;}



/*------------------Arrow image styling for click here ----------------

.arrow{
	background: url("http://127.0.0.1:8000/media/arrow-images/bluearrow_by_simplysilent-d6b9x2n.png") no-repeat;
	position: absolute;
	padding: 38px 0 0 120px;
	height: 46px;
	right: 15%;
	top: 370px;
	font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
}


.void{
font-family: 'Fjalla One', sans-serif;
font-size:60px;
color:transparent;
position:absolute;
top:395px;
right:40%;
text-align:center;
}


#tops {
	background: #395870;
}

#footer {
	background: #395870;
	height:200px;
}
*/

