<!DOCTYPE html>
<html>
    <head><title>Rango</title>
    </head>
    <body>
        <h1> Add a comment</h1>
<form id="comment_form "method="post" action="/rango/category/{{ category_name }}/comment/" enctype="multipart/form-data">
            {% csrf_token %}
             {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
         <input type="submit" name="submit" value="Submit"/>

</form>
    </body>
</html>

